<div class="container">

  <h1>My tasks</h1>

  <ul class="list-nodots">
    <% @tasks.each do |task| %>
      <li><%= task.completed ? "[X]" : "[ ]" %>  <%= link_to(task.title, task_path(task.id)) %> <%= link_to("🗑︎", task_path(task.id), method: :delete, data: {confirm: "Are you sure you want to delete that?"} ) %></li>
    <% end %>
  </ul>

  <%= link_to("+ Add a new task", new_task_path) %>

</div>
